arrow==0.14.6
beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
idna==2.8
lxml==4.4.1
mysql-connector-python==8.0.17
mysqlclient==1.4.4
protobuf==3.9.1
python-dateutil==2.8.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.3
urllib3==1.25.3
